<?xml version="1.0"?>
<launch>
    <arg name="setting_file" default="$(find body_rotational_controller)/config/param/body_rotational_controller.yaml"/>
    <node name="body_rotational_controller" pkg="body_rotational_controller" type="body_rotational_controller_node" output="screen">
        <rosparam command="load" file="$(arg setting_file)"/>
        <remap from="/odom" to="/sq2_ccv/diff_drive_steering_controller/odom"/>
        <remap from="/roll_pitch" to="/sq2_ccv/roll_pitch_controller/roll_pitch"/>
    </node>
    <!-- <include file="$(find ccv_sim)/launch/ccv_sim.launch"/> -->
</launch>
