<?xml version="1.0"?>

<launch>
    <arg name="rviz_settings" default="$(find inertial_body_controller_launch)/config/rviz/inertial_body_controller_launch.rviz"/>
    <arg name="work_space" default="$(env HOME)/catkin_ws/src"/>

    <!-- <inckude file="$(arg work_space)/sq2_ccv_description/launch/gazebo.launch"/> -->
    <include file="$(arg work_space)/robot_state_to_pose/launch/robot_state_to_pose.launch"/>
    <include file="$(arg work_space)/planner/sin/launch/sin.launch"/>
    <!-- <include file="$(arg work_space)/second_challenge_new/obstacle_detector/launch/obstacle_detector_gazebo.launch"/> -->
    <include file="$(find predict_vel_goal_creator)/launch/predict_vel_goal_creator_gazebo.launch"/>
    <include file="$(find predict_vel_planner)/launch/predict_vel_planner_gazebo.launch"/>
    <include file="$(find body_rotational_controller)/launch/body_rotational_controller_gazebo.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
</launch>