<?xml version="1.0"?>

<launch>
    <arg name="predict_vel_planner_settings" default="$(find predict_vel_planner)/config/param/predict_vel_planner.yaml"/>

    <node pkg="predict_vel_planner" type="predict_vel_planner_node" name="predict_vel_planner" output="screen">
        <rosparam command="load" file="$(arg predict_vel_planner_settings)"/>
        <remap from="/cmd_vel" to="/sq2_ccv/diff_drive_steering_controller/cmd_vel"/>
    </node>
</launch>